h1{
    font-size: 100px;
    color: rgb(255, 0, 212);
    text-align: center;
}
button{
    background-color: rgb(255, 0, 255);
    color: rgb(15, 10, 10);
    padding:10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.Card{
   display: flex;
   justify-content: space-around;
   border: 2px solid rgb(255, 0, 255);
   
}
body{
    background-color: rgb(0, 0, 0);
}
