
.karla{
  background-color:rgb(253, 114, 114);
  padding:25px;

}

.test{
  display:grid;
  gap: 20px;
  color: rgb(255, 94, 120);
  grid-template-columns: 300px 300px 300px 300px 300px;
  grid-template-rows:1fr 1fr;
  height: 100px;
  width: 100%;
  justify-content: space-evenly;

}
.test img{
  height: 100%;
  width: 100%;
}
 
.text{
margin: 8px;
font-size:14px;
color: black;
}
