.hearder{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 40px;
}
.logos{
    margin: 0;
    color: gray;
text-align: center;
}

.nav{
    display: flex;
    gap: 20px;
}




nav{
margin: 0 50px;
color: rgb(20, 21, 43);
text-decoration: none;
gap: 3px;
}

nav{
text-decoration: none;
color: #fffdfd;
margin: 0 50px;
background-color: aqua;
background-repeat: repeat;
color: #fffdfd;
background-position: center;
justify-content: center;
}
.titulo1{
font-family: "Barrio", system-ui;
font-weight: 400;
font-style: normal;
text-align: center;
font-size: 55px;
color: rgb(255, 255, 255);
text-shadow: -3px -3px #ff4db5, 3px 3px rgb(229, 255, 0), 6px 6px rgb(161, 60, 255);
}

.text{
border: 3px solid #ff4db5;
color: rgb(255, 255, 255);
font-size: 40px;
display: flex;
align-items: center;

}

body{
background-color: black;
color: #fffdfd;
}

.karla{
background-color:#b700ff;
padding:25px;

}

.test{
display:grid;
gap: 20px;
color: #b700ff;
grid-template-columns: 300px 300px 300px 300px 300px;
grid-template-rows:1fr 1fr;
height: 100px;
width: 100%;
justify-content: space-evenly;

}
.test img{
height: 100%;
width: 100%;
}

.text{
margin: 8px;
font-size:14px;
font-family: "Boogaloo", sans-serif;
font-weight: 400;
font-style: normal;
padding: 30px;
}
#clas{
border: 3px solid #ff4db5;
}
#mujer{
font-size: 40px;

}

