body {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
  
  background-color: rgb(123, 183, 211);
  font-size:45px;
  text-shadow: 2px 2px whitesmoke;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.rob{
  text-align: center;
}