footer {
  background-color: #222;
  color: rgb(255, 251, 6);
  text-align: center;
  padding: 15px;
  display: block;
  text-shadow: violet 10px 10px 3px;
}
a {
  
  color: rgb(247, 243, 7);
  text-decoration: none;
  pointer-events:color
}
  
