body{
    text-shadow: 2px 2px rgb(252, 94, 231) rgb(99, 182, 250);
    background-image: url(https://i.pinimg.com/1200x/e6/fd/51/e6fd5157779c728e29914dcae53f961a.jpg);
background-repeat: no-repeat;
background-size:cover;
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal
}
