.titulo1{
    font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 55px;
  color: rgb(255, 255, 255);
  text-shadow: -3px -3px #ff4db5, 3px 3px rgb(229, 255, 0), 6px 6px rgb(161, 60, 255);
}

.text{
  color: rgb(255, 255, 255);
  display: flex; align-items: center
}

body{
  background-color: black;
color: #fffdfd;
}
